<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Successfully registered</title>
      <style>
        span {color: blue;}
      </style>
   </head>
    
   <body>
    
      <!-- Include _menu.html -->
      <th:block th:include="/head"></th:block>  
       <br>
      <h2>You have successfully registered!</h2>
       
      <div th:if="${flashUser != null}">
         <ul>
            <li>Category: <span th:utext="${flashUser}">..Added</span></li>
           
         </ul>
      </div>
      
       
   </body>
</html>